<MudPaper MaxWith="true" Elevation="0" Class="py-1">
    <MudStack Justify="Justify.FlexStart" Row="true">
        <MudButton Variant="Variant.Outlined" Color.Dark.Lighten Style="@($"width: 250px")" Href="/admin/tests">Тесты</MudButton>
        <MudButton Variant="Variant.Outlined" Color.Dark.Lighten Style="@($"width: 250px")" Href="/admin/users">Сотрудники</MudButton>
    </MudStack>
    <div>
        <UserMenuComponent />
    </div>
</MudPaper>

